<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left" >SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{!-- <li><a href="/posts"> Post an Item </a></li>
            <li><a href="/userPosts"> My Posts </a></li>
            <li><a href="/search"> Search Posts </a></li>
            <li><a href="/received"> Offers Received </a></li>
            <li><a href="/made"> Offers Made </a></li>
            <li><a href="/lending"> Items Lending </a></li>
            <li><a href="/borrowing"> Items Borrowing </a></li> --}}
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>

<div id="image">
</div>

<nav class="orange" role="navigation">
    {{!-- <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a> --}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/posts"> Post an Item </a></li>
            <li><a href="/userPosts"> My Posts </a></li>
            <li><a href="/search"> Search Posts </a></li>
            <li><a href="/received"> Offers Received </a></li>
            <li><a href="/made"> Offers Made </a></li>
            <li><a href="/lending"> Items Lending </a></li>
            <li><a href="/borrowing"> Items Borrowing </a></li>
            {{!-- <li><a href="/logout">Log out</a></li> --}}
        </ul>
    </div>
</nav>

<div class="container" id="postsDiv">
	<div class="section">
		<div class="row">
			{{#each posts}}
	          	<div class="col s12 m4" id="{{this.id}}" data="{{this.user_id}}">
	            	<div class="card">
	              		<div class="card-image">
	              			<img id="image" src="{{this.img_location}}">
	              		</div>
	              		<div class="card-content">
	                		<span id="description" class="card-title">{{this.description}}</span>
	                		<p id="owner"> Owner: {{this.user_name}} </p>
							<p id="condition"> Condition: {{this.prod_condition}} </p>
							<p id="availability"> Availability: {{this.availability}} </p>
							<p id="comments"> Comments: {{this.comments}} </p>
	              		</div>
	              		<div class="card-action">
                            <a class="modal-trigger" data-target="contactOwner">Contact</a>
			                <a data-id ="{{this.id}}" data-desc="{{this.description}}" class="modal-trigger rescindTrigger" data-target="rescind">Rescind</a>
			                {{!-- <a data-id ="{{this.id}}" data-desc="{{this.description}}" class="modal-trigger acceptTrigger" data-target="accept">Accept</a>
			                <a data-id ="{{this.id}}" data-desc="{{this.description}}" class="modal-trigger rejectTrigger" data-target="reject">No Thanks</a> --}}
	              		</div>
	            	</div>
	          	</div>
	        {{/each}}
	    </div>
	</div>
</div>
<div id="map"></div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <a class="grey-text text-lighten-4"> &#169; 2017 The SWAPS Team</a>
        </div>
        <div class="row">
        </div>
    </div>
</footer>


<!-- Rescind Modal -->
<div id="rescind" class="modal">
    <div class="modal-content">
        <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
       	<h4>Offer Rescinded!</h4>
        <p id="rescindDesc">You have rescinded your offer.</p>
   	</div>
</div>

<!-- Contact Owner Modal -->
<div id="contactOwner" class="modal">
    <div class="modal-content ">
        <button id="clearModal" class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
        <h4>Contact Owner</h4>
        <p>Your message will be emailed to {{user.nickname}} </p>
        <div class="row">
            <form class="col s12" action="mailto: {{user._json.email}} " method="post" enctype="text/plain">
                <div class="row modal-form-row">
                	<div class="input-field col s12">
                    	<input required autofocus id="name" type="text" name="name" class="validate">
                    	<label for="name">Name</label>
                	</div>
               	</div>
               	<div class="row">
                	<div class="input-field col s12">
                        <input required id="email" type="email" name="email" class="validate">
                    	<label for="email">Email</label>
                	</div>
                </div>
               	<div class="row">
               		<div class="input-field col s12">
                    	<textarea required id="message" type="text" name="message" class="materialize-textarea"></textarea>
                        <label for="message">Message</label>
                	</div>
                </div>
                <input id="button" type="submit" value="Submit">
            </form>
    	</div>
    </div>
</div>

<script>

    function rescindSwap() {
        var rescindProd = {
            product: $(this).attr("data-id")
        };
        $("#rescindDesc").html("You have rescinded your offer for the following item: " + $(this).attr("data-desc"));
        console.log("rescindProd:  " + rescindProd);
        $.post(currentURL + "/rescind", rescindProd);
    }
    
    $(document).on("click", ".rescindTrigger", rescindSwap);

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

