{{!-- THE BELOW SECTION IS FOR RETRIEVING POSTS FROM THE DATABASE  --}}

	<div class="col-sm-4">
		<div id="postsDiv">
			{{#each posts}}
				<div class="">
					<div class="row" id="">
						<div class="col-sm-12" id="">
							<div class="row">
								<div class="col-sm-12">
									{{!-- <p id="owner"> Owner: {{this.user_name}} </p> --}}
									<p id="description"> {{this.description}} </p>
									<img id="image" src="{{img_location}}">
									<p id="condition"> Condition: {{prod_condition}} </p>
									<p id="availability"> Availability: {{availability}} </p>
									<p id="swap_location"> Swap Location: {{swap_location}} </p>
									<p id="comments"> Comments: {{comments}} </p>
								</div>
							</div>
							<div class="row" class="classRow">
								<div class="col-sm-4">
									<form action="/contact" method="GET">
										<input type="hidden" name="" value="{{this.product_id}}">
										<button type="submit" class="btn">Contact</button>
									</form>
								</div>
								<div class="col-sm-4">
									<form>
										<input type="hidden" name="" value="{{this.product_id}}">
											<button type="submit" class="btn">SWAP!</button>
										</form>
								</div>
								<div class="col-sm-4">
									<form>
										<input type="hidden" name="" value="{{this.product_id}}">
										<button type="submit" class="btn">Location</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>